In [1]:
import pandas as pd
import numpy as np

# Cinsiyet, yaş, maaş, iş gününden oluşan dataframe tanımlar.

salary = pd.DataFrame()
salary['gender'] = ['male'] * 50 + ['female'] * 50
salary['age'] = np.append(np.random.normal(28,7,50), np.random.normal(29,6,50))
salary['salary'] = np.append(np.random.normal(4000,500,50), np.random.normal(3800,400,50))
salary['day'] = np.append(np.random.normal(22,4,50), np.random.normal(21,3,50))
salary.head()

  gender        age       salary        day
0   male  31.131103  4840.420142  23.012324
1   male  24.192404  4043.504370  21.221550
2   male  20.852003  3516.175141  24.160140
3   male  40.943752  4292.162621  22.281196
4   male  29.523733  3781.804231  19.631381

In [ ]:
# built in func.larla dağılım ve eğilim ölçülerinin bulunmasını gösterir.

#mean values
np.mean(salary.age)
np.mean(salary.salary)
np.mean(salary.day)
#median values
np.median(salary.age)
np.median(salary.salary)
np.median(salary.day)
#variance
salary['salary'].var()
salary['age'].var
#standard deviation
standard_dev = np.std(salary['salary'], ddof = 1)
#standard error
obser_number = len(salary['salary'])
standard_dev / np.sqrt(obser_number)

In [ ]:
# maaş varyans değerinin matematiksel işlemle bulunması
# ortalama maaş
mean_sal = salary['salary'].mean()
total = 0
# örneklemin boyutu
obser_number = len(salary['salary'])
for i in range(len(salary['salary'])):
    total = total + (salary['salary'][i] - mean_sal)**2

variance = total / (obser_number - 1)

print('Maaşların varyans değeri: {}' format(variance))